{% extends 'base1.html' %}

{% block content %}

{% load crispy_forms_tags %}



   <!-- Main -->

   <br>
   <br>
   <div class="flex-grow container mx-auto mt-15 px-4 sm:px-0">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col">

        <!-- Introduction section -->
        <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4" style=" border-radius:8px ; font-weight: 700; font-family: var(--bs-font-sans-serif); background-color:#fff3cd; color: #664d03; padding: 4px; ">Welcome to the AI Blog Generator</h2>
            <p class="text-gray-700" style="color: #664d03;">
                Generate high-quality blog articles from YouTube videos using artificial intelligence.
                Simply enter the link to the YouTube video below and let the AI create the content for you!
            </p>
        </div>

        <br>

        <!-- Youtube section -->
        <div>
            <h2 class="text-xl mb-4 font-semibold" style=" border-radius:8px ; font-weight: 400; font-family: var(--bs-font-sans-serif); background-color:#fff3cd; color: #664d03; padding: 4px; ">Enter Youtube Video Link</h2>
            <div class="flex space-x-4 mb-4">
                <input id="youtubeLink" type="url" placeholder="Paste Youtube Link..." class="flex-grow p-2 border border-blue-400 rounded-l-md">
                <button id="generateBlogButton" class=" bg-blue text-black px-4 py-2 rounded-r-md hover:bg-blue-700 transition-colors" style="color: #664d03; border: 1px solid black;">Generate</button>
            </div>
        </div>


        <!-- section for loading circle -->
        <div style="display: none;" id="loading-circle" class="load"></div>


        <!-- Generated Blog Display Section -->
        <section class="mt-20 flex-grow">
            <h2 class="text-xl mb-4 font-semibold" style=" border-radius:8px ; font-weight: 400; font-family: var(--bs-font-sans-serif); background-color:#fff3cd; color: #664d03; padding: 4px; ">Generated Blog Article</h2>
            <div id="blogContent" class="mt-2 text-gray-700 space-y-4">
                
            </div>
        </section>
    </div>
</div>
<script>
    document.getElementById('generateBlogButton').addEventListener('click', async () => {
        

        const youtubeLink = document.getElementById('youtubeLink').value;
        const blogContent = document.getElementById('blogContent');
        
        if(youtubeLink) {
            document.getElementById('loading-circle').style.display = 'block';
            
            blogContent.innerHTML = ''; // Clear previous content

            const endpointUrl = '/blog-generator/generate_blog/';
            
            try {
                const response = await fetch(endpointUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ link: youtubeLink })
                });

                const data = await response.json();

                blogContent.innerHTML = data.content;

            } catch (error) {
                console.error("Error occurred:", error);
                alert("Your Limit is expired.");
                
            }
            document.getElementById('loading-circle').style.display = 'none';
        } else {
            alert("Please enter a YouTube link.");
        }
    });
</script>

{% endblock %}